@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;  
}

.row {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.placeholder {
  width: 150px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.item {
  width: 150px;  
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.start { 
  background: linear-gradient(to right, #EC6EAD, #3494E6); 
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  border: 1px solid rgb(93, 214, 56);
}

.hide {
  display: none;
}

.hovered {
  border-top: 1px solid rgb(93, 214, 56);
}

.shadow {
  box-shadow: none;
}
